<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hikes</title>
</head>

<body>
    <h1>All Hikes</h1>
    <div>
        <a href="/hikes/new">Add Hike</a>
    </div>
    <ul>
        <% for (let hike of hikes){%>
            <li><a href="/hikes/<%= hike._id %>">
                    <%= hike.title %>
                </a></li>
            <% }%>
    </ul>

</body>

</html>